@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

$background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3647%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='url(%23SvgjsLinearGradient3648)'%3e%3c/rect%3e%3ccircle r='28.46' cx='117.36' cy='554.31' fill='url(%23SvgjsLinearGradient3649)'%3e%3c/circle%3e%3ccircle r='42.155' cx='540.79' cy='208.52' fill='url(%23SvgjsLinearGradient3650)'%3e%3c/circle%3e%3ccircle r='39.085' cx='1120.09' cy='0.66' fill='url(%23SvgjsLinearGradient3651)'%3e%3c/circle%3e%3ccircle r='69.195' cx='149.69' cy='575' fill='url(%23SvgjsLinearGradient3652)'%3e%3c/circle%3e%3ccircle r='26.16' cx='767.57' cy='474.32' fill='url(%23SvgjsLinearGradient3653)'%3e%3c/circle%3e%3ccircle r='66.04' cx='74.62' cy='73.75' fill='url(%23SvgjsLinearGradient3654)'%3e%3c/circle%3e%3ccircle r='67.51' cx='1033.93' cy='662.03' fill='url(%23SvgjsLinearGradient3655)'%3e%3c/circle%3e%3ccircle r='54.705' cx='627.66' cy='67.21' fill='url(%23SvgjsLinearGradient3656)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3647'%3e%3crect width='1366' height='768' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='10.94%25' y1='-19.47%25' x2='89.06%25' y2='119.47%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3648'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(154%2c 133%2c 172%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='60.44' y1='554.31' x2='174.28' y2='554.31' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3649'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='456.47999999999996' y1='292.83000000000004' x2='625.0999999999999' y2='124.21000000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3650'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(87%2c 64%2c 135%2c 0.84)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1041.9199999999998' y1='0.6599999999999966' x2='1198.2599999999998' y2='0.6599999999999966' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3651'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='11.300000000000011' y1='575' x2='288.08' y2='575' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3652'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='715.25' y1='526.64' x2='819.89' y2='422' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3653'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(87%2c 64%2c 135%2c 0.84)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-57.46000000000001' y1='73.75' x2='206.70000000000002' y2='73.75' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3654'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='898.9100000000001' y1='662.03' x2='1168.95' y2='662.03' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3655'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='518.25' y1='67.21' x2='737.0699999999999' y2='67.21' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3656'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

.background {
  background: $background;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.w-50 {
  width: 90%;
}

.w-40 {
  width: 70% !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bg-card {
  background: #686488 !important;
}

.hover-txt-blue:hover {
  color: red;
  cursor: pointer;
}
